:root {
    font-family: 'Inter';
}

.MuiButtonBase-root.active {
    border-radius: 8px;
    background: rgba(0, 167, 111, 0.08);
    color: #00A76F;
}
.contenedorFotoPerfil img {
    object-fit: cover;
    width: 100%;
    height: auto;
}
.contenedorFotoPerfil {
    margin-top: 30px;
    height: 250px;
}
img.imageProfile {
    width: 100%;
}
/*nav.MuiList-root.MuiList-padding {
  padding: 20px;
}*/
.titleSidebar {
    background-image: linear-gradient(90deg, rgba(224, 225, 226, 0.00) 0%, #E0E1E2 50%, rgba(224, 225, 226, 0.16) 100%);
    border: 0;
    height: 1px;
    width: 90%;
}

.sidebarSippy .MuiList-root.MuiList-padding {
    color: #637381;
    padding: 10px;
}

/*.MuiListItemIcon-root {
  min-width: 40px !important;
}*/

.container-main {
    padding: 20px 40px;
}


.secondaryData {
    color: #b3b3b3;
}
button.CapturadorFoto {
    background: #f1f1f1;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    border: 2px dashed #a3a3a3;
    color: #919EAB;
}
button.CapturadorFoto:hover {
    cursor: pointer;
}
thead tr th.MuiTableCell-root {
    background: #f4f6f8;
    FONT-WEIGHT: 600;
    color: #637381;
}

.imageContainer {
    width: 120px;
    border-radius: 10px;
}

.cardContainer {
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    padding: 20px;
    border-radius: 10px;
}

.lineBarChart > div > svg {
    margin-top: 30px;
}

.linkItemButton {
    text-decoration: none;
    color: inherit;
}

.customTable th, .customTable td {
    padding: 24px;
}
.pueblosSelector .MuiListSubheader-root {
    border-bottom: 1px solid #ede9e9;
    font-weight: bold;
    color: #333;
}
.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded {
    border-bottom: 1px solid #bdbdbd4d;
}
.tabPills button {
    border: 1px solid #212121;
    border-radius: 40px;
    margin-left: 10px;
}

.tabPills button.Mui-selected {
    border-color: green !important;
    color: #fff !important;
    background: green;
}

.sidebarSippy .MuiPaper-root {
    border-right: 1px dashed rgba(145, 158, 171, 0.2);
    background-color: transparent;
}

.sidebarSippy .MuiButtonBase-root{
    border-radius: 10px;
    padding: 8px 10px;
}

header.MuiPaper-root {
    border-bottom: 0;

}

.vertical-tab .MuiButtonBase-root {
    align-items: start;
}

.vertical-tab .Mui-selected {
    background: rgb(54 167 111 / 5%);
}
.MuiCollapse-vertical .MuiList-root {

    margin-left: 0;
}

.active-button {
    background-color: rgba(145, 158, 171, 0.08) !important;
}

.subIcon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.subIcon:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(145, 158, 171);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}



.ContainerCam {
    align-items: center;
    min-height: 100vh;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.imgCam {
    width: 400px;
    object-fit: cover;
}
.imgCam video {
    width: 100%;
}
.AppCam {
    display: flex;
    align-items: center;
    width: 150vw;
    justify-content: center;
    background-color: #262b36;
}

.contenedorDeNotificaciones {
    position: relative;
    width: 100%;
}
.registerContainerIdentifier-active:before {
    background: #0000008f;
    position: fixed;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1200;

}
.registerContainerIdentifier {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.innerWrapperDeNotificaciones {
    position: absolute;
    z-index: 1300;
    border-radius: 12px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.55);
}
.MuiPaper-elevation1{
    box-shadow: rgba(145, 158, 171, 0.2) 0 0 2px 0, rgba(145, 158, 171, 0.12) 0 12px 24px -4px !important;
    border-radius: 16px !important;
}

.fechaNacimientoField .MuiInputBase-input.Mui-disabled {
    background: transparent;
}

input.MuiInputBase-input.Mui-disabled,
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.Mui-disabled,
.fechaNacimientoField .MuiInputBase-root.Mui-disabled{
    background: rgba(0, 0, 0, 0.040);
    border-radius: 5px;
}


.MuiAccordion-root.MuiAccordion-rounded.MuiPaper-elevation.MuiPaper-elevation1.MuiPaper-root.MuiPaper-rounded {
    border-radius: 0 !important;
}