.video_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 450px;
    max-width: 100%;
    /* border: 2px solid red; */
    /* margin-bottom: 10px; */
}

.video {
    position: absolute;
    max-width: 100%;
    left: 0;
    /* border: 3px soliid red; */
}

.capturePhotoButton {
    max-width: 180px;
    min-height: 48px;
    position: absolute !important;
    bottom: 50px;
    z-index: 10;
}

.relayCanvas {
    position: absolute;
    left: 0;
    width: 600px;
    height: 380px;
    max-width: 100%;
    /* border: 1px solid blue; */
    z-index: 2;
}

.containerVideoCam {
    position: relative;
}

.notificacion{
    position:absolute;
    top: 600px;
    color: red;
    font-size: 80px;
}