.video_container {
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    /* border: 2px solid red; */
    /* margin-bottom: 10px; */
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 3px soliid red; */
}

.capturePhotoButton {
    max-width: 180px;
    min-height: 48px;
    position: absolute;
    top:260px;
    bottom: 60px;
    z-index: 10;
}

.relayCanvas {
    position: absolute;
    top: -40px;
    left: 0;
    width: 600px;
    height: 600px;
    /* border: 1px solid blue; */
    z-index: 2;
}

.containerVideoCam {
    position: relative;
}