.form{
  margin-top: 30px;
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100% !important;
  height: fit-content;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
}